### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [77]:
#Tells us all the unique school names.
unique_schools = school_data_complete["school_name"].unique()

#Counts the length of the unique names to get a grand total.
total_schools = len(unique_schools)

#Counts the total number of student names aka number of students.
total_students = school_data_complete["student_name"].count()

#Adds up the total budget.
total_budget = school_data_df["budget"].sum()

#Average math score calculation.
avg_math_score = student_data_df["math_score"].mean()

#Average reading score calculation. 
avg_reading_score = school_data_complete["reading_score"].mean()

#Percentage of students passing math calculation.
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()

percent_pass_math = pass_math/total_students*100

#Percentage of students passing reading calculation.
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >=70]["reading_score"].count()

percent_pass_reading = pass_reading/total_students*100

#Overall passing calculations
overall_pass = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)]["student_name"].count()/total_students*100
                                    
#District Summary Data Frame 
district_summary = pd.DataFrame ({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget], 
    "Average Math Score": round(avg_math_score,2), 
    "Average Reading Score": round(avg_reading_score,2), 
    "% Passing Math": round(percent_pass_math,2), 
    "% Passing Reading": round(percent_pass_reading,2), 
    "% Overall Passing": round(overall_pass,2)
})

#Format district summary df to make it nicer to read.
district_sum_table = pd.DataFrame(district_summary)

district_sum_table["% Passing Math"] = district_sum_table["% Passing Math"].map("{:,.2f}%".format)
district_sum_table["% Passing Reading"] = district_sum_table["% Passing Reading"].map("{:,.2f}%".format)
district_sum_table["% Overall Passing"] = district_sum_table["% Overall Passing"].map("{:,.2f}%".format)
district_sum_table["Total Budget"] = district_sum_table["Total Budget"].map("${:,.2f}".format)
district_sum_table["Total Students"] = district_sum_table["Total Students"].map("{:,}".format)

district_sum_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [78]:
#Group by school. 
groupedby_school = school_data_complete.set_index("school_name").groupby(["school_name"])

#School types
school_types = school_data_df.set_index("school_name")["type"]

#Total students per school.
studentsper_school = groupedby_school["Student ID"].count()

#School's budget
school_budget = school_data_df.set_index("school_name")["budget"]

#Budget per student = school's budget/total students per school
student_budget = school_data_df.set_index("school_name")["budget"]/school_data_df.set_index("school_name")["size"]

#Average math score calculation
avg_math = groupedby_school["math_score"].mean()

#Average reading score calculation
avg_reading = groupedby_school["reading_score"].mean()

#Percentage of students passing math calculation. 
pass_math_school= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["Student ID"].count()/studentsper_school*100

#percent_pass_math = pass_math_school*100

#Percentage of students passing reading calculation.
pass_reading_school=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["Student ID"].count()/studentsper_school*100

#percent_pass_reading = pass_reading_school*100

#Calculation for percentage of overall passing.
pass_overall_school= school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("school_name")["Student ID"].count()/studentsper_school*100

#percent_pass_overall_school = pass_overall_school*100

school_summary = pd.DataFrame ({
    "School Type": school_types, 
    "Total Students": studentsper_school,
    "Total School Budget": school_budget, 
    "Per Student Budget": student_budget, 
    "Average Math Score": round(avg_math,2), 
    "Average Reading Score": round(avg_reading,2), 
    "% Passing Math": pass_math_school, 
    "% Passing Reading": pass_reading_school, 
    "% Passing Overall": pass_overall_school
})

#Formating table 
school_sum_table = pd.DataFrame(school_summary)

school_sum_table["% Passing Math"] = school_sum_table["% Passing Math"].map("{:,.2f}%".format)
school_sum_table["% Passing Reading"] = school_sum_table["% Passing Reading"].map("{:,.2f}%".format)
school_sum_table["% Passing Overall"] = school_sum_table["% Passing Overall"].map("{:,.2f}%".format)
school_sum_table["Total School Budget"] = school_sum_table["Total School Budget"].map("${:,.2f}".format)
school_sum_table["Total Students"] = school_sum_table["Total Students"].map("{:,}".format)
school_sum_table["Per Student Budget"] = school_sum_table["Per Student Budget"].map("${:,.2f}".format)
school_sum_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [79]:
top_five = school_summary.sort_values(["% Passing Overall"], ascending=False)
top_five.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [80]:
bottom_five = school_summary.sort_values(["% Passing Overall"], ascending=True)
bottom_five.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [81]:
#Grade series grouped by school
ninth_grade = round(school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name").mean()["math_score"], 2)
tenth_grade = round(school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name").mean()["math_score"], 2)
eleventh_grade = round(school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name").mean()["math_score"], 2)
twelveth_grade = round(school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name").mean()["math_score"], 2)

#Combination of series into dataframe 
math_scores_by_grade_df= pd.DataFrame ({"9th Grade": ninth_grade, "10th Grade": tenth_grade, "11th Grade": eleventh_grade, "12th Grade": twelveth_grade})
math_scores_by_grade_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [82]:
#Grade series grouped by school
ninth_grade = round(school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name").mean()["reading_score"], 2)
tenth_grade = round(school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name").mean()["reading_score"], 2)
eleventh_grade = round(school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name").mean()["reading_score"], 2)
twelveth_grade = round(school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name").mean()["reading_score"], 2)

#Combination of series into dataframe 
reading_scores_by_grade_df= pd.DataFrame ({"9th Grade": ninth_grade, "10th Grade": tenth_grade, "11th Grade": eleventh_grade, "12th Grade": twelveth_grade})
reading_scores_by_grade_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         81.30       80.91       80.95       80.91
Cabrera High School        83.68       84.25       83.79       84.29
Figueroa High School       81.20       81.41       80.64       81.38
Ford High School           80.63       81.26       80.40       80.66
Griffin High School        83.37       83.71       84.29       84.01
Hernandez High School      80.87       80.66       81.40       80.86
Holden High School         83.68       83.32       83.82       84.70
Huang High School          81.29       81.51       81.42       80.31
Johnson High School        81.26       80.77       80.62       81.23
Pena High School           83.81       83.61       84.34       84.59
Rodriguez High School      80.99       80.63       80.86       80.38
Shelton High School        84.12       83.44       84.37       82.78
Thomas High School         83.73       84.25       83.59       83.83
Wilson High School         83.94       84.02       83.76       84.32
Wright High School         83.83       83.81       84.16       84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [129]:
#bins for spending  
bins = [0, 585, 630, 645, 680]
bin_names = ["<$585", "$585-$629", "$630-$644", ">$645"]
school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = bin_names)


#grouping by spending 
spending_grouped = school_data_complete.groupby("Spending Ranges (Per Student)")


average_math = round(spending_grouped["math_score"].mean(),2)
average_reading = round(spending_grouped["reading_score"].mean(),2)
percent_pass_math = round(school_data_complete[school_data_complete["math_score"]>= 70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_grouped["Student ID"].count()*100, 2).map("{:,.2f}%".format)
percent_pass_rdg = round(school_data_complete[school_data_complete["reading_score"]>= 70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_grouped["Student ID"].count()*100, 2).map("{:,.2f}%".format)
percent_overall = round(school_data_complete[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70)].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_grouped["Student ID"].count()*100, 2).map("{:,.2f}%".format)

scores_spending = pd.DataFrame({
    "Average Math Score": average_math, 
    "Average Reading Score": average_reading, 
    "% Passing Math": percent_pass_math, 
    "% Passing Reading": percent_pass_rdg, 
    "Overall Passing Rate": percent_overall
})

scores_spending.index.name = "Per Student Budget"
scores_spending = scores_spending.reindex(bin_names)


scores_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Budget,,,,,
<$585,83.36,83.96,93.70%,96.69%,90.64%
$585-$629,79.98,82.31,79.11%,88.51%,70.94%
$630-$644,77.82,81.30,70.62%,82.60%,58.84%
>$645,77.05,81.01,66.23%,81.11%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type