### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
#Tells us all the unique school names.
unique_schools = school_data_complete["school_name"].unique()

#Counts the length of the unique names to get a grand total.
total_schools = len(unique_schools)

#Counts the total number of student names aka number of students.
total_students = school_data_complete["student_name"].count()

#Adds up the total budget.
total_budget = school_data_df["budget"].sum()

#Average math score calculation.
avg_math_score = student_data_df["math_score"].mean()

#Average reading score calculation. 
avg_reading_score = school_data_complete["reading_score"].mean()

#Percentage of students passing math calculation.
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()

percent_pass_math = pass_math/total_students*100

#Percentage of students passing reading calculation.
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >=70]["reading_score"].count()

percent_pass_reading = pass_reading/total_students*100

#Overall passing calculations
overall_pass = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)]["student_name"].count()/total_students*100
                                    
#District Summary Data Frame 
district_summary = pd.DataFrame ({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget], 
    "Average Math Score": round(avg_math_score,2), 
    "Average Reading Score": round(avg_reading_score,2), 
    "% Passing Math": round(percent_pass_math,2), 
    "% Passing Reading": round(percent_pass_reading,2), 
    "% Overall Passing": round(overall_pass,2)
})

#Format district summary df to make it nicer to read.
district_sum_table = pd.DataFrame(district_summary)

district_sum_table["% Passing Math"] = district_sum_table["% Passing Math"].map("{:,.2f}%".format)
district_sum_table["% Passing Reading"] = district_sum_table["% Passing Reading"].map("{:,.2f}%".format)
district_sum_table["% Overall Passing"] = district_sum_table["% Overall Passing"].map("{:,.2f}%".format)
district_sum_table["Total Budget"] = district_sum_table["Total Budget"].map("${:,.2f}".format)
district_sum_table["Total Students"] = district_sum_table["Total Students"].map("{:,}".format)

district_sum_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [37]:
#Group by school. 
groupedby_school = school_data_complete.set_index("school_name").groupby(["school_name"])

#School types
school_types = school_data_df.set_index("school_name")["type"]

#Total students per school.
studentsper_school = groupedby_school["Student ID"].count()

#School's budget
school_budget = school_data_df.set_index("school_name")["budget"]

#Budget per student = school's budget/total students per school
student_budget = school_data_df.set_index("school_name")["budget"]/school_data_df.set_index("school_name")["size"]

#Average math score calculation
avg_math = groupedby_school["math_score"].mean()

#Average reading score calculation
avg_reading = groupedby_school["reading_score"].mean()

#Percentage of students passing math calculation. 
pass_math_school= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["Student ID"].count()/studentsper_school

percent_pass_math = pass_math_school*100

#Percentage of students passing reading calculation.

pass_reading_school=school_data_cmplete[school_data_complete["reading_score]>=70"]]

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type